<!DOCTYPE html>
<html>

<head>
    {% include 'include.html' %}
    {% load static %}
</head>

<body style="background-image: url(&quot;{% static 'img/star-sky.jpg' %}&quot;);">
    {% include 'adminnav.html' %}
    <div id="wrapper">
        {% include 'doctor_sidenav.html' %}
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle" style="color: white;"><i class="fa fa-bars"></i></a>
                <h2 class="text-center" style="color: white;">Assigned Tasks</h2>
                <div class="text-center" role="tablist" id="accordion-1">
                    {% for job in jobs %}
                    <ul class = "collapsible popout text-center" data-collapsible = "accordion">
                        <li class="card">
                            <div class = "card-header collapsible-header">
                                <h5 style="color:blue;"><a><i class="fa fa-calendar-check-o"></i>Audio By: {{ job.Doctor_user.fullname }} created on {{ job.date_submitted }}</a></h5>
                            </div>
                            <div class = "card-body collapsible-body">
                                <table align="center" class="card-text" style="font-size: 19px;">
                                    <tr>
                                        <td>Doctor Name:</td>
                                        <td>{{ job.Doctor_user.fullname }}</td>
                                    </tr>
                                    <tr>
                                        <td>Audio Name:</td>
                                        <td>{{ job.audio_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Created Date:</td>
                                        <td>{{ job.date_submitted }}</td>
                                    </tr>
                                    <tr>
                                        <td>Doctor Email:</td>
                                        <td>{{ job.Doctor_user }}</td>
                                    </tr>
                                    <tr>
                                        <td>Audio File:</td>
                                        <td><a href="{{ job.audio_file.url }}">{{ job.audio_file }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Status:</td>
                                        <td>{% if job.QA_passed %}
                                                Finished
                                            {% endif %}
                                            {% if not job.QA_passed %}
                                                Pending
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>

</html>
