argon2-cffi==20.1.0
asgiref==3.2.7
bcrypt==3.1.7
certifi==2020.4.5.1
cffi==1.14.0
Django==3.0.3
docs==0.1.0
docx==0.2.4
Faker==4.1.0
lxml==4.6.3
mutagen==1.45.1
Pillow==7.2.0
pycparser==2.20
python-dateutil==2.8.1
python-docx==0.8.11
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
text-unidecode==1.3
wincertstore==0.2
